* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    width: 100%;
}

header {
    padding: 7px 0;
    height: 73px;
    width: 100%;
    text-align: center;
}

.headerTitle {
    font: normal normal 500 50px/59px Raleway;
    text-transform: uppercase;
}


main img {
    height: 727px;
    width: 100%;
    opacity: 1;
}

.principal {
    height: 348px;
    width: 100%;
}

.elementoprincipal {
    margin: 45px 150px 66px;
    display: flow-root;
}

.imagenprincipal img {
    float: right;
    width: 399px;
}

.textoprincipal {
    float: left;
    width: 475px;
    height: 197px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    font-family: Raleway;
    opacity: 1;
    letter-spacing: 0px;
    padding-top: 30px;
}

.features {
    padding: 75px 0px 74px 0px;
    width: 100%;
    background-color: #1E1A13;
    font: normal normal 500 40px/47px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
}

.feature i {
    display: block;
    padding-bottom: 16px;
}

.feature {
    display: inline-block;
    width: 30%;
    text-align: center;
    font: normal normal 300 25px/30px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    padding-top: 50px;
}

.galeria {
    /*width: 100%;*/
    text-align: center;
    padding: 73px 150px;
}

.foto {
    display: inline-block;
    width: 30%;
    padding: 0;

}

.foto img {
    width: 316px;
    height: 202px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #1b1b1b;
    width: 100%;
    font: normal normal 300 20px/24px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    color: #FFFFFF;

}