body {
    font-family: 'Roboto', sans-serif;
}

.bg-personalizado {
    background-color: #ffee50;
}

.card-img-top {
    width: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 20pt;
    font-weight: 300;
    color: #212529;
}

.card-subtitle {
    font-size: 16pt;
    font-weight: 300;
    color: #707070;
}

.card-adress {
    font-size: 13pt;
    font-weight: 300;
    color: #508eff;
}

.text-price1 {
    font-size: 16pt;
    font-weight: 300;
    color: #707070;
    margin-right: 1em;
}

.text-price2 {
    font-size: 20pt;
    font-weight: 500;
    color: #508eff;
}

form {
    background-color: #508eff;
    font-size: 21pt;
    color: white;
    font-weight: 500;
}

footer {
    font-size: 16px;
    color: #707070;
    font-weight: 300;
}